:root {
    --color-1: lime;
    --color-2: red;
    --background-color-1: black;
    --font-family-1: "Roboto", sans-serif;
  }
  body{
    font-family: var(--font-family-1);
    display: flex;
    justify-content: center;    
    align-items: center;
    height: 100vh;
    background-color: var(--background-color-1);
  }

  div#board{
    display: flex;
    outline: solid 2.5px white;
    gap: 5px;
    align-content: center;
  }

  div.column{
    display: flex;
    flex-direction: column;
    gap:5px;
  }

  div.field{
    display: flex;
    width: 100px;
    height: 100px;
    background-color: var(--background-color-1);
    outline: solid 5px white;
    padding: 60px;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
  }

  div.field > span{
    font-size: 20px;
    z-index: 1;
    color: var(--background-color-1);
  }

  div.player{
    background-color: var(--color-1);
  }

  div.robot{
    background-color: var(--color-2);
  }